/* Card HTML and Style Provided by Abhishek Mane. @abhishek747 on codepen  */

.cards-list {
  z-index: 0;
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.card {
  margin: 30px auto;
  width: 500px;
  height: 500px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}



.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.overlay {
  position: relative;
  top: -460px;
  width: 500px;
  height: 500px;
  border-radius: 40px;
  opacity: 0;
  transition: 0.3s ease;
  padding: 20px;
}

.card-overlay-description {
  margin-bottom: 20px;
}

.overlay:hover {
  opacity: 0.85
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card:active {
  transform: scale(1.05);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media(min-width: 750px){
  .cards-list {
    grid-template-columns: 100%;
  }
}
@media(min-width: 300px){
  .cards-list {
    grid-template-columns: 100%;
  }
  .card {
    width: 300px;
    height: 300px;
  }
  .overlay {
    position: relative;
    top: -260px;
    width: 300px;
    height: 300px;
    font-size: 13px;
  }
}